@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&family=Oleo+Script:wght@700&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  background-color: #faf0e4;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #e993b1 #333331;
}

* {
  box-sizing: border-box;
}

body {
  height: inherit;
  margin: 0;
  padding: 0;
  font-family: "Open sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf0e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MainPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.pageTemplate {
  background-color: #faf0e4;
}

.Sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: #f8f7f5;
  border-right: 5px solid #e71c96;
  top: 0; /* Stay at the top */
  left: 0;
  overflow: hidden;

  border-bottom-right-radius: 10px;
}

.TextBar {
  padding: 25% 0% 15% 20%;
  margin-bottom: 20%;
  border-bottom: solid 1px #e4dcd3;
}

#logo {
  padding: 10% 0% 0% 20%;
}

.SidebarList .rowSidebar {
  width: 100%;
  height: 45px;
  list-style-type: none;
  margin: 16px 0px 32px 0px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebarTitle .sidebarIcon {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SidebarList .rowSidebar:hover {
  cursor: pointer;
  background-color: #e71c96;
  color: #faf0e4;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.SidebarList #active {
  background-color: #e71c96;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.SidebarList #active #sidebarTitle {
  color: #faf0e4;
}

.SidebarList #active #sidebarIcon {
  color: #faf0e4;
}

.row #icon {
  flex: 30%;
  display: grid;
}

.rowSidebar #sidebarIcon {
  flex: 50%;
  place-items: center;
}

.rowSidebar #sidebarTitle {
  display: inline-flex;
  flex: 100%;
}

.rowSidebar #sidebarTitle:hover {
  color: #faf0e4;
}

.pTextSidebar {
  text-align: center;
}

.pending {
  color: #e71c96;
}

.score {
  color: #0891a8;
}

.done {
  color: #0891a8;
}

.MainTable {
  display: grid;
  align-items: center;
  border: 1px solid#EEE4D7;
  border-radius: 12px;
  background-color: #f8f7f5;
  box-shadow: 5px 5px 5px, rgba(0, 0, 0, 0.15);
}

.table {
  /* margin: 20px 0; */
  /* font-size: 0.7em; */
  min-width: 400px;
  border-collapse: collapse;
  /* text-align: center; */
  overflow: scroll;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.table td th {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.table .th {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

th {
  padding: 8px 0px 8px 16px;
  color: #333331;
  background-color: #eee4d7;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

td {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  color: #333331;
  padding: 8px 8px 0px 8px;
  text-align: start;
  vertical-align: top;
}

table th:first-child {
  border-radius: 12px 0px 0px 0px;
}

table th:last-child {
  border-radius: 0px 12px 0px 0px;
  padding-right: 10px;
}

.votebutton {
  color: #e71c96;
  text-decoration: underline;
  cursor: pointer;
}

table tr:last-child {
  border-radius: 12px 12px 0px 0px;
}

/* This is the challenge pade inner scroll section */
/* This is for Firefox */
.challengeBoxDiv {
  min-height: 30rem;
  max-height: 30rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #ddc6a7 #e7ded2;
}

/* This is for otherbrowsers (chrome, edge, etc) */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e7ded2;
  height: 0.5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddc6a7;
  height: 0.5rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3a087;
  height: 0.5rem;
}

/* WOP */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Write above this line! */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */

/* Noam's room of requirements */
/* please don't delete, it doesn't affect anything but my changes for now */

.logo-small {
  font-family: "Oleo Script";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.58%;
  color: #e71c7d;
}

.logo-small.inverted {
  color: white;
}

button.Button-wide {
  width: 100%;
}

a.Big-link {
  font-size: 22px;
  text-decoration: none;
}

.Button-primary {
  border: none;
  outline: none;
  color: #faf0e4;
  padding: 0.5em 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 500;
  border-radius: 27px;
  box-shadow: -2px 4px 0px rgba(160, 160, 160, 0.25);
  background: #e71c7d;
  font-family: "Oswald";
  transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Button-primary:hover {
  background-color: #fd35bd;
  color: #fff4e6;
  box-shadow: 0px 0px 0px;
}

.Button-primary:focus {
  outline: none;
}

.Button-secondary {
  border: none;
  outline: none;
  color: #e71c7d;
  background: transparent;
  border: #e71c7d 2px solid;
  padding: 0.5em 2em;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 500;
  border-radius: 27px;
  font-family: "Oswald";
  transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Button-secondary:hover {
  color: #faf0e4;
  background: #e71c7d;
  box-shadow: 0px 0px 0px;
}

.Button-secondary:focus {
  outline: none;
}

.fly-above {
  z-index: 1;
}

.cover-all {
  height: calc(100vh);
  width: calc(100vw);
}

.forms {
  display: inline-flex;
}

.lightpink {
  background-color: #e993b1;
}

.bg-offwhite {
  background-color: #faf0e4;
}

.form-1,
.form-2 {
  min-height: 330px;
}

a.reg-link {
  color: #e71c7d;
  text-decoration: underline;
}

.this_user {
  color: #e993b1;
}

.first {
  color: #fbe536;
}

.second {
  color: #f16643;
}

.third {
  color: #0891a8;
}

.group_code_div {
  border: rgba(8, 144, 167, 0.7);
  background-color: rgba(8, 144, 167, 0.1);
  border-radius: 8px;
  max-width: 320px;
  align-self: center;
  padding: 8px;
  padding-right: 2px;
}

.group_code_text {
  color: rgba(8, 144, 167, 0.7);
  font-family: Oswald;
  font-weight: 500;
  padding: 8px;
  font-size: 18px;
  align-self: center;
}

.profile_pic {
  text-align: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.picLeaderBox {
  max-width: 100%;
  height: 100px;
  border-radius: 10px;
}

.RowBig {
  height: 22rem;
}

.StripAnimation {
  animation: left-to-right 10s infinite;
}
