@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&family=Oleo+Script:wght@700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');


html, body {
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 320px;
  background-color: #FAF0E4;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #E993B1 #333331;
}

* {
  box-sizing: border-box;
}

body {
  height: inherit;
  margin: 0;
  padding: 0;
  font-family: "Open sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF0E4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MainPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

}

.pageTemplate {
  background-color: #FAF0E4;
}

.Sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: #F8F7F5;
  border-right: 5px solid #E71C96;
  top: 0; /* Stay at the top */
  left: 0;
  overflow: hidden;
  
  border-bottom-right-radius: 10px;
}

.TextBar{
  padding: 25% 0% 15% 20%;
  margin-bottom: 20%;
  border-bottom: solid 1px #E4DCD3;
}

#logo{
  padding: 10% 0% 0% 20%;
}


.SidebarList .rowSidebar{
  width: 100%;
  height: 45px;
  list-style-type: none;
  margin: 16px 0px 32px 0px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebarTitle .sidebarIcon{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SidebarList .rowSidebar:hover{
  cursor: pointer;
  background-color: #E71C96;
  color: #FAF0E4;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.SidebarList #active{
  background-color: #E71C96;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.SidebarList #active #sidebarTitle  {
  color: #FAF0E4;
}

.SidebarList #active #sidebarIcon  {
  color: #FAF0E4;
}

.row #icon {
  flex: 30%;
  display: grid;
}

.rowSidebar #sidebarIcon {
  flex: 50%;
  place-items: center;
}

.rowSidebar #sidebarTitle {
  display: inline-flex;
  flex: 100%;
}

.rowSidebar #sidebarTitle:hover  {
  color: #FAF0E4;
}

.pTextSidebar{
  text-align: center;
}

.pending {
  color: #E71C96;
}

.score {
  color: #0891A8;
}

.done {
  color: #0891A8
}




.MainTable {
  display: grid;
  align-items: center;
  border: 1px solid#EEE4D7;
  border-radius: 12px;
  background-color: #F8F7F5;
  box-shadow: 5px 5px 5px, rgba(0 ,0 ,0 , 0.15);
}

.table { 
  /* margin: 20px 0; */
  /* font-size: 0.7em; */
  min-width: 400px;
  border-collapse: collapse;
  /* text-align: center; */
  overflow: scroll;
  border: 2px solid rgba(0 ,0 ,0 , 0.15);
}

.table td th{
  border: 1px solid rgba(0 ,0 ,0 , 0.15);

}

.table .th{
  border: 1px solid rgba(0 ,0 ,0 , 0.15);
}

th {
  padding: 8px 0px 8px 16px;
  color: #333331;
  background-color: #EEE4D7;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgba(0 ,0 ,0 , 0.15);
}

td {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  color: #333331;
  padding: 8px 8px 0px 8px;
  text-align:start;
  vertical-align:top;
}

table th:first-child {
  border-radius:12px 0px 0px 0px;
}

table th:last-child{
  border-radius:0px 12px 0px 0px;
  padding-right: 10px;
}


.votebutton{
  color: #E71C96;
  text-decoration: underline;
  cursor: pointer;
}

table tr:last-child{
  border-radius:12px 12px 0px 0px;
}


/* This is the challenge pade inner scroll section */
/* This is for Firefox */
.challengeBoxDiv{
  min-height: 30rem;
  max-height: 30rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #DDC6A7 #E7DED2;
}

/* This is for otherbrowsers (chrome, edge, etc) */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #E7DED2;
  height: 0.5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDC6A7; 
  height: 0.5rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B3A087; 
  height: 0.5rem;
}

/* WOP */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* Write above this line! */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */


/* Noam's room of requirements */
/* please don't delete, it doesn't affect anything but my changes for now */

.logo-small {
  font-family: "Oleo Script";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.58%;
  color: #e71c7d;
}

.logo-small.inverted {
  color: white;
}

button.Button-wide {
  width: 100%;
}

a.Big-link {
  font-size: 22px;
  text-decoration: none;
}

.Button-primary {
  border: none;
  outline: none;
  color: #FAF0E4;
  padding: 0.5em 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 500;
  border-radius: 27px;
  box-shadow: -2px 4px 0px rgba(160, 160, 160, 0.25);
  background: #E71C7D;
  font-family: "Oswald";
  transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Button-primary:hover {
    background-color: #FD35BD;
    color: #FFF4E6;
    box-shadow: 0px 0px 0px ;
}

.Button-primary:focus {
    outline: none;
}

.Button-secondary {
  border: none;
  outline: none;
  color: #E71C7D;
  background: transparent;
  border: #E71C7D 2px solid;
  padding: 0.5em 2em;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 500;
  border-radius: 27px;
  font-family: "Oswald";
  transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Button-secondary:hover {
    color: #FAF0E4;
    background: #E71C7D;
    box-shadow: 0px 0px 0px;
}

.Button-secondary:focus {
    outline: none;
}

.fly-above {
  z-index: 1;
}

.cover-all {
  height: calc( 100vh );
  width: calc( 100vw );
}

.forms {
  display: inline-flex;
}

.lightpink {
  background-color: #E993B1;
}

.bg-offwhite {
  background-color: #FAF0E4;
}

.form-1,.form-2
{
    min-height: 330px;   
}

a.reg-link {
  color: #E71C7D;
  text-decoration: underline;
}

.this_user {
  color: #E993B1;
}

.first {
  color: #FBE536;
}

.second {
  color: #F16643;
}

.third {
  color: #0891A8;
}

.group_code_div {
  border: rgba(8, 144, 167, 0.7);
  background-color: rgba(8, 144, 167, 0.1);
  border-radius: 8px;
  max-width: 320px;
  align-self: center;
  padding: 8px;
  padding-right:2px;
}

.group_code_text {
  color: rgba(8, 144, 167, 0.7);
  font-family: Oswald;
  font-weight: 500;
  padding: 8px;
  font-size:  18px;
  align-self: center;
}

.profile_pic {
  text-align: center;
  width: 100px;
  height: 100px;
  max-width: 100px;
  border-radius: 50%;
  border: 4px #E993B1 solid;
}

.picLeaderBox {
  max-width: 100%;
  height: 100px;
  border-radius: 10px;
}

.RowBig {
  height: 22rem;
}

.StripAnimation{
  animation: left-to-right 10s infinite;
}

.container-page{
  overflow-x: hidden;
  background-color: lightpink;
}